<?xml version="1.0" encoding="UTF-8"?>
<web-app> xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
	<display-name>DefenseManagementTask</display-name>
	<welcome-file-list>
	    <welcome-file>homepage.jsp</welcome-file>
		<welcome-file>adminlogin.jsp</welcome-file>
		<welcome-file>userlogin.jsp</welcome-file>
		<welcome-file>findthief.jsp</welcome-file>
		<welcome-file>blog.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>AdminValidation</servlet-name>
		<servlet-class>com.defencemanagement.controller.AdminValidation</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminValidation</servlet-name>
		<url-pattern>/AdminValidation</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserValidation</servlet-name>
		<servlet-class>com.defencemanagement.controller.UserValidation</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserValidation</servlet-name>
		<url-pattern>/UserValidation</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ThiefDetails</servlet-name>
		<servlet-class>com.defencemanagement.controller.ThiefDetails</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ThiefDetails</servlet-name>
		<url-pattern>/ThiefDetails</url-pattern>
	</servlet-mapping>
</web-app>